@model MtgCard.Domain.Pack

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="draftedCards"> </div>

<div id="currentPack">
	@foreach (var card in Model.Cards)
	{
		var imageSrc = string.Format("http://magiccards.info/scans/en/ktk/{0}.jpg", @card.editions.First(x => x.set_Id == "KTK").number);
		
		<img class="cardInPack @card.id" src="@imageSrc" style="width:265px; height: 370px;" />
	}
</div>

@section scripts{
	<script>
		var moveCardToCollection = function(source, destination, ratio) {
			var clone = source.clone();
			clone.width(clone.width() * ratio);
			clone.height(clone.height() * ratio);
			destination.append(clone);
			source.remove();
		};

		$(".cardInPack").click(function () {
			moveCardToCollection($(this), $("#draftedCards"), .5);
		});
	</script>
}
